<% c++ #include "aboutme.h" %>
<% skin melpon_org %>
<% view aboutme uses content::aboutme extends root %>

<% template page_content() %>
<div class="container-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>About Me</h1>
    </div>
    <p>めるぽんについて。</p>
    <h2>GitHub</h2>
    <div class="description">
      <p><a href="https://github.com/melpon">melpon</a></p>
    <h2>Twitter</h2>
    <div class="description">
      <p><a href="https://twitter.com/melponn">@melponn</a></p>
    </div>
  </div>
</div>
<% end template %>

<% end view %>
<% end skin %>
