<% c++ #include "home.h" %>
<% skin melpon_org_publication %>
<% view home uses content::publication::home %>

<% template render() %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div .page-header>
      <h1>公開資料</h1>
    </div>
    <ul>
      <li>
        <a href="http://d.hatena.ne.jp/melpon/20091212/1260584012">Boost.Coroutine</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study1">Boost.勉強会 #1</a>）
      </li>

      <li>
        <a href="http://d.hatena.ne.jp/melpon/20110508/1304813069">Squirrelと変人の神隠し</a>
        （<a href="http://atnd.org/events/14697">関西ゲームプログラミング勉強会 #oustudy</a>）
      </li>

      <li>
        <a href="http://www.slideshare.net/melpon/boostinterfaces-na-5179597">Boost.Interfaces</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study2">Boost.勉強会 #2</a>）
      </li>

      <li>
        <a href="http://www.slideshare.net/melpon/boosttimer-7068526">Boost.Timer</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study4">Boost.勉強会 #4 東京</a>）
      </li>

      <li>
        <a href="http://d.hatena.ne.jp/melpon/20120423/1335187810">MighttpdのEventSource問題</a>
        （<a href="http://partake.in/events/76f421e7-c3ca-49bf-b28e-f9ede8032f0b">(祝) Yesod 1.0 勉強会</a>）
      </li>

      <li>
        <a href="https://docs.google.com/presentation/d/1SzdoJYEN-i9asivCtaWLLjtO_T6Ch2KOXbuZs8MY_Tw/edit?usp=sharing">Effective STL 11</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study9">Boost.勉強会 #9 つくば</a>）
      </li>

      <li>
        <a href=@{PWandboxR}>Wandbox を支える技術</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study13">Boost.勉強会 #13 仙台</a>）
      </li>

      <li>
        <a href=@{PKabukizaWandboxLtR}>Wandbox の紹介</a>
        （<a href="http://ch.nicovideo.jp/dwango-engineer/blomaga/ar393478">歌舞伎座.tech#2</a>）
      </li>

      <li>
        <a href="@{PCpprefjpR}">cpprefjp を支える技術</a>
        （<a href="https://sites.google.com/site/boostjp/study_meeting/study14">Boost.勉強会 #14</a>）
      </li>
    </ul>
  </div>
</div>
<% end template %>

<% end view %>
<% end skin %>
